---
title: Like Bikes?
layout: base.njk
---
<div class="container">
  <h1>Do you like my bike?</h1>
  <div class="bike">
        🚲
      </div>
  <div class="brag">
    <small class="inject"></small>
  </div>
</div>

<script src="" async defer></script>
<script src="./js/brag.js"></script>